

body{
    overflow-x:hidden;
}

.scale-animation{
    animation:scaleanimation 20s infinite ;
}



.footer-border{
    position: absolute;
    width: 100vw;
    left:-20px;
    background-color: white;
    height: 2px;
    bottom:0px;
}


#footerBody a , #footerBody .footer-social-link{
    text-decoration-color:#EF4444 ;
}


/*scroll*/

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #111827;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #EF4444;
}






/*animations*/


@keyframes scaleanimation 
{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.05);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}